@font-face {
  font-family: "alimama-font";
  src: url("../assets/font/alimama/AlimamaShuHeiTi-Bold.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;

  font-family: alimama-font, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  Segoe UI Symbol, "Noto Color Emoji";
}


body {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(135deg, #c850c0, #4158d0);

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes toLogin {
  0% {
    border-radius: 120px 50px 50px 120px;
  }
  100% {
    border-radius: 50px 120px 120px 50px;
    transform: translateX(-100%);
  }
}

@keyframes toRegister {
  0% {
    border-radius: 50px 120px 120px 50px;
  }
  100% {
    border-radius: 120px 50px 50px 120px;
    transform: translateX(0);
  }
}

.container {
  width: 60vw;
  height: 70vh;
  display: flex;

  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);

  position: absolute;

  .top-card {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;

    color: white;
    border-radius: 120px 50px 50px 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    background: linear-gradient(135deg, #c850c0, #4158d0);

    z-index: 2;

    //animation-duration: 1s;
    //animation-fill-mode: forwards;
    transition: 1s;
    transition-property: transform, border-radius;

    > * {
      margin: 15px;
    }

    .top-card-title {
      font-weight: bolder;
      font-size: 40px;
      letter-spacing: 3px;
    }

    .top-card-button {
      width: 30%;

      cursor: pointer;
      font-weight: bolder;
      color: white;
      background: none;
      padding: 10px;
      border: 1px solid white;
      border-radius: 50px;
    }
  }

  .left {
    width: 50%;
    height: 100%;

    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    .left-title {
      position: absolute;
      top: 15%;

      font-size: 40px;
      font-weight: bold;
    }

    > * {
      margin: 10px;
    }

    button {
      width: 25%;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 8px 20px;
      background-color: #7514ce;
      cursor: pointer;
    }

    input {
      width: 60%;
      height: 5%;
      border: 1px solid gray;
      border-radius: 50px;
      padding: 5px 20px;
      background: #ffffff;
    }

    input::placeholder {
      //position: relative;
      //left: 10px;
    }
  }

  .right {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      width: 80%;
      height: 90%;

      border: 1px solid green;

      display: flex;
      justify-content: center;
      align-items: center;

      .input {
        margin: 10px 0;

        input {
          border: 0;
          width: 230px;
          height: 25px;
        }
      }

      .title {
        margin: 5px;
      }

      .login {
        text-align: center;
        font-size: 30px;
      }
    }
  }
}