@font-face {
  font-family: "alimama-font";
  src: url("../assets/font/alimama/AlimamaShuHeiTi-Bold.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-family: alimama-font, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #c850c0, #4158d0);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 25%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: #7514ce;
  cursor: pointer;
}

input {
  width: 60%;
  height: 5%;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 5px 20px;
  background: #ffffff;
}

.title {
  position: absolute;
  top: 15%;
  font-size: 40px;
  font-weight: bold;
}

.container {
  width: 60vw;
  height: 70vh;
  display: flex;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
}
.container .top-card-2-login {
  border-radius: 120px 30px 30px 120px !important;
  transform: translateX(2%) !important;
}
.container .top-card-2-register {
  border-radius: 30px 120px 120px 30px !important;
  transform: translateX(-102%) !important;
}
.container .top-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  transform: translateX(2%);
  color: white;
  border-radius: 120px 30px 30px 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, #c850c0, #4158d0);
  z-index: 3;
  transition: 0.5s;
  transition-property: transform, border-radius;
}
.container .top-card > * {
  margin: 15px;
}
.container .top-card .top-card-title {
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 3px;
}
.container .top-card .top-card-button {
  width: 30%;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  background: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
}
.container .left-card-hidden {
  transition: opacity 0.2s, transform 0.5s;
  opacity: 0;
  transform: translateX(100%);
  z-index: 0 !important;
}
.container .left-card-show {
  transition: opacity 0s 0.2s, transform 0.5s;
  opacity: 1;
  transform: translateX(0);
}
.container .right-card-hidden {
  transition: opacity 0.2s, transform 0.5s;
  opacity: 0;
  transform: translateX(-100%) !important;
}
.container .right-card-show {
  transition: opacity 0s 0.2s, transform 0.5s;
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.container .left-card {
  width: 50%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.container .left-card .left-title {
  position: absolute;
  top: 15%;
  font-size: 40px;
  font-weight: bold;
}
.container .left-card > * {
  margin: 15px;
}
.container .right-card {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transform: translateX(-100%);
}
.container .right-card .form {
  width: 80%;
  height: 90%;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .right-card .form .input {
  margin: 10px 0;
}
.container .right-card .form .input input {
  border: 0;
  width: 230px;
  height: 25px;
}
.container .right-card .form .title {
  margin: 5px;
}
.container .right-card .form .login {
  text-align: center;
  font-size: 30px;
}

/*# sourceMappingURL=login.css.map */
