<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 1. 引入 -->
    <link rel="stylesheet" href="css/media-set.css">

    <!-- 2. 直接编写 -->
    <style>
        @media screen and (max-width: 500px) {
            nav {
                background-color: red;
            }
        }
    </style>
</head>
<body>
<nav>
    <ul>
        <li>HALO</li>
        <li>Cortana</li>
        <li>Master Chief</li>
        <li>John</li>
        <li>S117</li>
    </ul>
</nav>
</body>
</html>