<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 只有 only 后的表达式可以被浏览器支持时才会生效（(⊙o⊙)…） ，排除低端浏览器-->
    <style>
        @media only screen and (min-width: 500px) {
            h1 {
                color: #8e44ad;
            }
        }
    </style>
</head>
<body>
<h1>Cortana</h1>
</body>
</html>