.avatar-box {
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 5px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(245, 241, 241);
    }
    transition: .4s;
    transition-property: background-color;

    * {
        margin: 4px;
    }
}
