.login-page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #c850c0, #4158d0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: alimama-font, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
}
.login-page .container {
  width: 60vw;
  height: 70vh;
  display: flex;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
}
.login-page .container button {
  width: 25%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: #7514ce;
  cursor: pointer;
}
.login-page .container input {
  border-radius: 50px;
  padding: 5px;
}
.login-page .container .title {
  font-size: 30px;
  font-weight: bold;
}
.login-page .container .top-card-2-login {
  border-radius: 120px 30px 30px 120px !important;
  transform: translateX(2%) !important;
}
.login-page .container .top-card-2-register {
  border-radius: 30px 120px 120px 30px !important;
  transform: translateX(-102%) !important;
}
.login-page .container .top-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  transform: translateX(2%);
  color: white;
  border-radius: 120px 30px 30px 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, #c850c0, #4158d0);
  z-index: 3;
  transition: 0.5s;
  transition-property: transform, border-radius;
}
.login-page .container .top-card > * {
  margin: 15px;
}
.login-page .container .top-card .top-card-title {
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 3px;
}
.login-page .container .top-card .top-card-button {
  width: 30%;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  background: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50px;
}
.login-page .container .left-card-hidden {
  transition: opacity 0.2s, transform 0.5s;
  opacity: 0;
  transform: translateX(100%);
  z-index: 0 !important;
}
.login-page .container .left-card-show {
  transition: opacity 0s 0.2s, transform 0.5s;
  opacity: 1;
  transform: translateX(0);
}
.login-page .container .right-card-hidden {
  transition: opacity 0.2s, transform 0.5s;
  opacity: 0;
  transform: translateX(-100%) !important;
}
.login-page .container .right-card-show {
  transition: opacity 0s 0.2s, transform 0.5s;
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.login-page .container .left-card {
  width: 50%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.login-page .container .left-card form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page .container .left-card form > * {
  margin: 10px;
}
.login-page .container .right-card {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transform: translateX(-100%);
}
.login-page .container .right-card form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page .container .right-card form > * {
  margin: 10px;
}

/*# sourceMappingURL=login.module.css.map */
