<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="06-浮动布局练习-后盾人官网页面结构.css" type="text/css">
    <title>Document</title>

</head>
<body>
<main>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">houdunren</a>
                </li>
                <li>系统学习</li>
                <li>实战课程</li>
                <li>最近更新</li>
                <li>话题讨论</li>
                <li>签到打卡</li>
                <li>八点直播</li>
                <li>在线文档</li>
                <li>订阅会员</li>
            </ul>

            <div class="button">
                <div>登录</div>
                <div>注册</div>
            </div>
        </nav>
    </header>

    <div class="middle">
        <div class="ml">
            <span>数据元素样式</span>
            <div>收藏</div>
            <div>66</div>
            <ol>
                <li>使用CSS定制表格</li>
                <li>表格标题与对齐处理</li>
                <li>表格颜色与背景定义</li>
                <li>细线表格与间距与空白单元格处理</li>
                <li>细线无边框样式</li>
                <li>数据表格设计</li>
                <li>多种方式定义列表符号</li>
                <li>多图背景控制列表符号</li>
                <li>after与before追加元素样式使用</li>
                <li>使用after与before制作绚丽表单</li>
            </ol>
        </div>
        <div class="mr">
            <div class="top">
                <div>社区小帖</div>
                <div>后盾人是一个主张友好、分享、自由的技术交流社区。</div>
                <div>
                    <span>发帖交流</span>
                    <span>签到打卡</span>
                </div>
            </div>
            <div class="bottom">
                <ul>
                    <li>
                        <span>最新课程</span>
                    </li>
                    <li>数据元素样式</li>
                    <li>背景与渐变</li>
                    <li>盒子模型详解</li>
                    <li>带你玩转 CSS3 文本，打牢前端开发基础</li>
                    <li>搞定 CSS 权重</li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        后盾人 人人做后盾
        微信: houdunren2021 邮箱：2300071698@qq.com
        Copyright © houdunren.com All Rights Reserved
        ICP证: 京ICP备12048441号-8
    </footer>
</main>
</body>
</html>